* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  /* background-color: rgb(34, 99, 238); */
  /* color: white; */
}
.navbar {
  background-color: rgb(106, 131, 160);
  width: 100%;
  /* height: 15vh; */
  display: flex;
  justify-content: space-between;
  /* background-attachment: fixed; */
  /* position: fixed; */
  /* margin-bottom: 40%; */
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 40px;

  font-size: 20px;
  float: right;
  margin-top: 20px;
  margin-right: 30px;
}
.navbar ul a {
  text-decoration: none;
  color: white;
}
.navbar ul a:hover {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.logo img {
  width: 200px;
  height: 100px;
  margin-left: 40%;
  /* margin-top: 4px; */
}
.vertical {
  border-left: 3px solid black;
  height: 300px;
  position: absolute;
  left: 40%;
  top: 30%;
}
.cont {
  margin-top: 5%;
  margin-left: 5%;
  width: 20%;
  font-size: 20px;
  color: white;
}
#ad {
  text-align: center;
  padding-bottom: 50px;
}
#phone {
  text-align: center;
  padding-bottom: 50px;
}
#email {
  text-align: center;
  /* padding-bottom: 40px; */
}
.contacts {
  display: flex;
}
.message {
  position: absolute;
  width: 50%;
  margin-top: 5%;
  margin-left: 50%;
  padding-left: 200px;
  color: white;
}
.universe {
  background-image: url(../Images/silver\ globe.jpg);
  background-size: cover;
  /* background-position: center; */
  height: 83.3vh;
  width: 100%;
  /* background: rgba(255, 255, 255, 0); */
}
