* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.navbar {
  background-color: rgb(106, 131, 160);
  width: 100%;
  /* height: 15vh; */
  display: flex;
  justify-content: space-between;
  /* background-attachment: fixed; */
  /* position: fixed; */
  /* margin-bottom: 40%; */
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 40px;

  font-size: 20px;
  float: right;
  margin-top: 20px;
  margin-right: 30px;
}
.navbar ul a {
  text-decoration: none;
  color: white;
}
.navbar ul a:hover {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.logo img {
  width: 200px;
  height: 100px;
  margin-left: 40%;
  /* margin-top: 4px; */
}
#fastfood {
  display: flex;
}
#fastfood1 {
  display: block;
  margin-left: 50px;
  margin-top: 3%;
  width: 100%;
}
.burger {
  background-image: url(../Images/Burger.jpg);
  width: 70%;
  height: 60vh;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px gray;
}
.hotdog {
  background-image: url(../Images/Hotdogs.jpg);
  width: 70%;
  height: 60vh;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px gray;
}
.cake {
  background-image: url(../Images/Cakes.jpg);
  width: 70%;
  height: 60vh;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px gray;
}
#beverages {
  display: flex;
}
#beverages1 {
  display: block;
  margin-left: 50px;
  margin-top: 3%;
  width: 100%;
}
.tea {
  background-image: url(../Images/Tea.jpg);
  width: 70%;
  height: 60vh;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px gray;
}
.coffee {
  background-image: url(../Images/pexels-tyler-nix-2396220.jpg);
  width: 70%;
  height: 60vh;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px gray;
}
.juice {
  background-image: url(../Images/Juice.jpg);
  width: 70%;
  height: 60vh;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px gray;
}
#meals {
  display: flex;
}
#meals1 {
  display: block;
  margin-left: 50px;
  margin-top: 3%;
  width: 100%;
}
.rice {
  background-image: url(../Images/Chicken&Rice.jpg);
  width: 70%;
  height: 60vh;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px gray;
}
.omlette {
  background-image: url(../Images/Omlette.jpg);
  width: 70%;
  height: 60vh;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px gray;
}
.pasta {
  background-image: url(../Images/Pasta.jpg);
  width: 70%;
  height: 60vh;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px gray;
}
.h1 {
  text-align: center;
  padding-top: 50px;
}
/* .img {
  position: relative;
  background-image: url(../Images/Burger.jpg);
  background-size: cover;
  position: relative;
  width: 20%;
}
.text {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px;
  width: 5%;
  font-size: 10vw;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  mix-blend-mode: screen;
  transform: translate(-50%, -50%);
} */
